<div class="create-project-modal" id="createModal">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
          <h2 class="modal-title">
          Login
          </h2>
        </div>
  
        <div class="modal-body">
          <form>
            <div class="form-group" [formGroup]="newLoginForm">
              <label for="create-project"></label>
             Username <input type="email" placeholder="Username" class="form-control"  formControlName="username" required>
            
              <label for="project-key"></label>
              Password<input type="password" placeholder="Password" class="form-control"  formControlName="password" required>
            </div>
          </form>
        </div>
  
        <div class="modal-footer">
          <button class="btn btn-primary" (click)="submit()"> Login </button>
          <!-- <button class="btn btn-secondary" data-dismiss="create-project-modal"> Logout </button> -->
        </div>
  
        </div>
  
    </div>
  </div>