jira-backend/config/project.config.json
**/.DS_Store
jira-backend/*.db
jira-backend/jira-backend
.DS_Store
sampleflask/venv
.idea
.vscode
.idea/*.iml
.idea/*.xml
jira-backend/jira-backend
jira-frontend/build/jira-build
jira-frontend/build/assets
jira-frontend/build/jira-frontend
jira-backend/*.db
jira-backend/jira-backend
jira-frontend/node-server/assets/
**/node_modules
**/*.map
**/*workspace