#join-msg-wrapper{
    background-color: #fff;
    height: 100vh;
}

p {
    text-align: center;
    font-family: 'Cabin';
    font-size: 1.3em;
}

#invite-check-msg{
    color: rgb(67, 190, 118);
}

#invite-check-err{
    color: rgb(190, 67, 67);
}
