<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="content" class="content content-full-width">
                <ul class="timeline">
                    <li>
                        <!-- begin timeline-time -->
                        <div class="timeline-time">
                            <!-- <span class="date">today</span> -->
                            <span class="time"><small>04:20</small></span>
                        </div>
                        <!-- end timeline-time -->
                        <!-- begin timeline-icon -->
                        <div class="timeline-icon">
                            <a href="javascript:;">&nbsp;</a>
                        </div>
                        <!-- end timeline-icon -->
                        <!-- begin timeline-body -->
                        <div class="timeline-body">
                            <div class="timeline-header">
                                <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                        alt=""></span>
                                <span class="username"><a href="javascript:;">Sean Ngu</a> <small></small></span>

                            </div>
                            <div class="timeline-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis quis
                                    tincidunt luctus.
                                    Nam sagittis dui in nunc consequat, in imperdiet nunc sagittis.
                                </p>
                            </div>
                            <div class="timeline-likes">
                                <div class="stats-right">
                                    <!-- <span class="stats-text">259 Shares</span> -->

                                </div>

                            </div>
                            <div class="timeline-comment-box">
                                <div class="user"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"></div>
                                <div class="input">
                                    <form action="">
                                        <div class="input-group">
                                            
                                            <input class="form-control rounded-corner"
                                            placeholder="Write a comment..." type="text" id="comment" name="comment" #comment>
                                            <span class="input-group-btn p-l-10">
                                                <button class="btn btn-primary f-s-12 rounded-corner"
                                                    type="button" id="comment-button" (click)="sendcomment(comment.value)">Comment</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- end timeline-body -->

                </ul>

            </div>
        </div>
    </div>
</div>