<header class="py-2">
</header>

<div class="container">
  <div class="row">
    <!-- <div class="col-md-6">Total cost</div> -->
    <div><span class="float-end"><a class="btn btn-primary btn-block" id="create_sprint" (click)="openCreateSprint()">Create Sprint</a></span></div>
  </div>
</div>


<div cdkDropListGroup>
<div *ngFor="let sprint of sprintlist" >
 
  <div class="example-container">
    <h2>{{sprint.name}}</h2>
    <!-- <div cdkDropList [cdkDropListData]="issueList" class="example-list" (cdkDropListDropped)="drop($event)"> -->
      <!-- <div class="example-box" *ngFor="let issue of mainIssueList" cdkDrag>{{issue.title}}</div> -->
    <!-- </div> -->
  </div>

  
</div>
</div>