@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cabin&display=swap');;
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html, body, form, h1, h2, h3, button{
    font-family: 'Cabin';
}

.btn{
    background-color: #3f51b5;
}

body {
    height: 100%;
    background-color: #ffffff;
    
}

.form-group{
 margin-bottom: 0.8em;

}

#form-div{
    padding: 1em;
    border: 2px solid #3F51B5;
    border-radius: 1em;
}

label{
    display: block;
    font-size: 1.1em;
    margin-bottom: 0.1em;
}

input{
    border-radius: .2em;
    border: 1px solid gray;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    margin-right: 1em;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #ffffff;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #6d7fcc;
    background: #fff;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#content{
    margin-left: auto;
    margin-right: auto;
}