<body>
  <div class= "wrapper">

    <nav id="sidebar">
      <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Details</a>
            </li>
            <li>
                <a href="#">Board</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
            </li>
            <li>
                <a href="#">Access</a>
            </li>
            <li>
                <a href="#">Issue types</a>
            </li>
        </ul>
    </nav>
    </nav>
   



    
      <div id="content" class="d-flex">  
        
          <form [formGroup]="projectDetailsForm">
      
          <div class= "d-flex align-self-center row" id = "form-div">
            
            <div class="form-group">
              <label for="name">Name: </label>
              <input class="form-control" type="text" id = "name" placeholder="Enter name" formControlName="name">
            </div>

            <div class="form-group">
              <label for="key">Key: </label>
              <input class="form-control" type="text" id="key" placeholder="Enter key" formControlName="key"> 
            </div>

            <div class="form-group">
              <label for="project-lead">Project Lead: </label>
              <input class="form-control" type="text" id="project-lead" placeholder="Project lead name" formControlName="lead">
              <div>
                <small class="form-text text-muted">Make sure the lead has access to issues in the projects.</small> 
              </div>
            </div>

            <button class="btn btn-primary btn-block" type="submit" (click)="onSubmit()">Submit</button>
          </div>
        </form>
        </div>
      
    
  </div>
</body>