<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Jira Clone</span>
    
    <button mat-button>Your Work</button>
    <button mat-button>Projects</button>
    <button mat-button>Filters</button>
    <button mat-button>Dashboards</button>
    <button mat-button>People</button>
    <button mat-button>Apps</button>
    <button mat-raised-button color="primary">Create</button>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>search</mat-icon>
      </button>
      
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>notification_important</mat-icon>
      </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>settings</mat-icon>
    </button>
    

    
  </mat-toolbar>
