<section id="details">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h1><i class="fa-solid fa-plus"></i>Create Issue</h1>
          </div>
          <div class="card-body">
            <form [formGroup]="issueDetailsForm">

              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" formControlName="issue_title" >
              </div>
              <div class="form-group">
                <label for="title">Project</label>
                <input type="text" class="form-control" formControlName="project_name">
              </div>
              <div class="form-group">
                <label for="title">Issue Type</label>
                <select class="form-control" id="issue_type" formControlName="issue_type">
                  <option> Task </option>
                  <option> Bug </option>
                  <option> Sub Task </option>
                </select>
              </div>
              <div class="form-group">
                <label for="category">Sprint</label>
                <select class="form-control" formControlName="sprint_number">
                  <option value="" selected> Sprint 1 </option>
                  <option value=""> Sprint 2 </option>
                  <option value=""> Sprint 3 </option>
                  <option value=""> Sprint 4 </option>
                </select>
              </div>
              <!-- <div class="form-group">
                <label for="image">Upload Attachments</label>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="image" class="form-control" formControlName="upload_attachments">
                  <label for="image" class="custom-file-label">Choose File</label>
                </div>
                <small class="form-text text-muted">Max Size 3mb</small>
              </div> -->
              <div class="form-group">
                <label for="body">Description</label>
                <textarea name="editor1" class="form-control" formControlName="issue_description"></textarea>
              </div>

              <div class="form-group">
                <label for="title">Assignee</label>
                <select class="form-control" id="assignee_id" formControlName="issue_assignee">
                  <option> Assignee 1 </option>
                  <option> Assignee 2 </option>
                </select>
              </div>

              <div class="form-group">
                <label for="title">Reporter</label>
                <select class="form-control" id="reporter_id" formControlName="issue_reporter">
                  <option> Assignee 1 </option>
                  <option> Assignee 2 </option>
                </select>
              </div>
              
              <button class="btn" (click)="onSubmit()" id="create_issue">Create Issue</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>