<header class="py-2">
  <div class="d-flex" id="create_row">
    <div class="row" >    
      <div class="col">
        <a href="/home/sprint/list" class="btn btn-primary btn-block" id="create_sprint">Create Sprint</a>
      </div>
      <div class="col">
        <a class="btn btn-primary btn-block" id="create_issue" (click)="onCreateIssue()">Create Issue </a>
      </div>

      <div class="col">
        <a class="btn btn-danger btn-block" id="delete_project" (click)="onDeleteProject()">Delete Project </a>
      </div>

    </div>
  </div>
</header>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-sm table-striped">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    
    <ng-container matColumnDef="issue_id">
      <th mat-header-cell *matHeaderCellDef> Issue Id </th>
      <td mat-cell *matCellDef="let element">
          {{element.issue_id}}   
      </td>
    </ng-container>
    
    <ng-container matColumnDef="project_id">
      <th mat-header-cell *matHeaderCellDef> Project Id </th>
      <td mat-cell *matCellDef="let element">
          {{element.project_id}}   
      </td>
    </ng-container>
  
    
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element">
          {{element.status}}
      </td>
    </ng-container>
  
    
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> <a (click)="getDetailsPage(element)"> {{element.title}} </a> </td>
    </ng-container>
  
   
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>
    
    <ng-container matColumnDef="assignee_id">
        <th mat-header-cell *matHeaderCellDef> Assignee Id </th>
        <td mat-cell *matCellDef="let element"> {{element.assignee_id}} </td>
      </ng-container>
  
    
    <ng-container matColumnDef="assigned_to">
      <th mat-header-cell *matHeaderCellDef> Assigned to </th>
      <td mat-cell *matCellDef="let element"> {{element.assigned_to}} </td>
    </ng-container>

    <ng-container matColumnDef="created_by">
        <th mat-header-cell *matHeaderCellDef> Created by </th>
        <td mat-cell *matCellDef="let element"> {{element.created_by}} </td>
      </ng-container>

    <ng-container matColumnDef="sprint_id">
        <th mat-header-cell *matHeaderCellDef> Sprint Id </th>
        <td mat-cell *matCellDef="let element"> {{element.sprint_id}} </td>
      </ng-container>
    
    <ng-container matColumnDef="modify">
      <th mat-header-cell *matHeaderCellDef> Modify </th>
      <td mat-cell *matCellDef="let element">  <i class="fa-solid fa-pen-to-square" (click)="onSubmit(element.project_id)"></i>Edit
      </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
