@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cabin&display=swap');;

html, body, form, table, h1{
    font-family: 'Cabin';
}

h1{
    margin: 0;
}

i{
    padding-right: 0.5em;
    margin-left: 0.5em;
}