@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cabin&display=swap');;

h2, div{
    font-family: 'Cabin';
}

.success-msg{
    color: #00950f!important;
}

.error-msg{
    color: #952500!important;
}